In [ ]:
3*3

9

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('StudentsPerformance.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 43.0+ KB

In [4]:
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

iloc - выбирает строки и колонки

In [23]:
table_random = data.iloc[[0, 3, 4], 2:5]
table_random

  parental level of education         lunch test preparation course
0           bachelor's degree      standard                    none
3          associate's degree  free/reduced                    none
4                some college      standard                    none

In [28]:
table_random.index = ['zero', 'three', 'four']
table_random.loc[['zero']]

     parental level of education     lunch test preparation course
zero           bachelor's degree  standard                    none