## 1.5 Фильтрация данных

In [ ]:
import pandas as pd
data = pd.read_csv('./StudentsPerformance.csv')
rename_map = {'math score': 'math_score', 'reading score': 'reading_score', 'writing score': 'writing_score'}
data.rename(columns = rename_map, inplace=True)

data.info()
data.head()

In [ ]:
data.loc[data.gender == 'female']

### Среднее значение

In [ ]:
avg_writing_score = data['writing score'].mean()
avg_writing_score

In [ ]:
data.loc[data['writing score'] > avg_writing_score]

### Отбор по двум условиям

In [ ]:
data.loc[(data['writing score'] > 74) & (data.gender == 'female')]

### У какой доли студентов из датасэта в колонке lunch указано free/reduced?

In [ ]:
(data.lunch == 'free/reduced').mean()

### Как различается среднее и дисперсия оценок по предметам у групп студентов со стандартным или урезанным ланчем?

Среднее для урезанного и стандартного ланча

In [ ]:
data[(data.lunch == 'free/reduced')][['math score', 'reading score', 'writing score']].mean()

In [ ]:
data[(data.lunch == 'standard')][['math score', 'reading score', 'writing score']].var()

Дисперсия для урезанного и стандартного ланча

In [ ]:
data[(data.lunch == 'free/reduced')][['math score', 'reading score', 'writing score']].mean()

In [ ]:
data[(data.lunch == 'standard')][['math score', 'reading score', 'writing score']].var()

Другие способы решения

In [ ]:
data.groupby('lunch').describe()

In [ ]:
data.groupby('lunch').aggregate({'writing score': ['mean','var'],'reading score': ['mean','var'],'math score': ['mean','var']})

### Метод query

In [ ]:
read_scope = 90
data.query('gender == "male" & reading_score > @read_scope')

отберёт студентов, уровень образования родителей которых бакалавр или магистр

In [ ]:
data[data['parental level of education'].isin(["bachelor's degree", "master's degree"])]

наблюдения, оценка за математику которых выше 90 и за чтение меньше либо равна 72

In [ ]:
data[(data['math_score'] > 70) & (data['reading_score'] <=72)]

студенты, не прошедшие тест

In [ ]:
data[data['test preparation course'] != 'completed']

студенты со стандартным ланчем

In [ ]:
data.query("lunch == 'standard'")

### Метод filter

отбор по колонкам

In [15]:
data.filter(like='score')

     math_score  reading_score  writing_score
0            72             72             74
1            69             90             88
2            90             95             93
3            47             57             44
4            76             78             75
..          ...            ...            ...
995          88             99             95
996          62             55             55
997          59             71             65
998          68             78             77
999          77             86             86

[1000 rows x 3 columns]

отбор по строкам

In [18]:
data.filter(like='99', axis=0)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math_score,reading_score,writing_score
99,female,group D,bachelor's degree,standard,none,65,67,62
199,female,group B,bachelor's degree,free/reduced,none,78,79,76
299,male,group D,associate's degree,free/reduced,none,90,87,75
399,male,group D,some high school,standard,none,60,59,54
499,male,group E,some college,standard,none,76,71,72
599,female,group D,some high school,standard,none,65,82,81
699,male,group C,high school,free/reduced,none,66,66,59
799,female,group C,associate's degree,standard,none,52,55,57
899,female,group D,some high school,standard,completed,65,78,82
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86