In [2]:
import pandas as pd
data = pd.read_csv('StudentsPerformance.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 43.0+ KB

In [3]:
data.loc[data.gender == 'female']

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
...,...,...,...,...,...,...,...,...
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## Среднее значение

In [4]:
avg_writing_score = data['writing score'].mean()
avg_writing_score

68.054

In [14]:
data.loc[data['writing score'] > avg_writing_score]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
...,...,...,...,...,...,...,...,...
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## Отбор по двум условиям

In [29]:
data.loc[(data['writing score'] > 74) & (data.gender == 'female')]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
15,female,group C,some high school,standard,none,69,75,78
...,...,...,...,...,...,...,...,...
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
995,female,group E,master's degree,standard,completed,88,99,95
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## У какой доли студентов из датасэта в колонке lunch указано free/reduced?

In [51]:
(data.lunch == 'free/reduced').mean()

0.355

## Как различается среднее и дисперсия оценок по предметам у групп студентов со стандартным или урезанным ланчем?

### Среднее для урезанного и стандартного ланча

In [19]:
data[(data.lunch == 'free/reduced')][['math score', 'reading score', 'writing score']].mean()

math score       58.921127
reading score    64.653521
writing score    63.022535
dtype: float64

In [32]:
data[(data.lunch == 'standard')][['math score', 'reading score', 'writing score']].var()

math score       186.418089
reading score    191.285560
writing score    205.620887
dtype: float64

### Дисперсия для урезанного и стандартного ланча

In [33]:
data[(data.lunch == 'free/reduced')][['math score', 'reading score', 'writing score']].mean()

math score       58.921127
reading score    64.653521
writing score    63.022535
dtype: float64

In [22]:
data[(data.lunch == 'standard')][['math score', 'reading score', 'writing score']].var()

math score       186.418089
reading score    191.285560
writing score    205.620887
dtype: float64

#### Другие способы решения

In [27]:
data.groupby('lunch').describe()

             math score                                                       \
                  count       mean        std   min   25%   50%   75%    max
lunch
free/reduced      355.0  58.921127  15.159956   0.0  49.0  60.0  69.0  100.0
standard          645.0  70.034109  13.653501  19.0  61.0  69.0  80.0  100.0

             reading score             ...              writing score  \
                     count       mean  ...   75%    max         count
lunch                                  ...
free/reduced         355.0  64.653521  ...  75.0  100.0         355.0
standard             645.0  71.654264  ...  82.0  100.0         645.0


                   mean        std   min   25%   50%   75%    max
lunch
free/reduced  63.022535  15.433823  10.0  53.0  64.0  74.0  100.0
standard      70.823256  14.339487  22.0  62.0  72.0  81.0  100.0

[2 rows x 24 columns]

In [31]:
data.groupby('lunch').aggregate({'writing score': ['mean','var'],'reading score': ['mean','var'],'math score': ['mean','var']})

             writing score             reading score             math score  \
                      mean         var          mean         var       mean
lunch
free/reduced     63.022535  238.202881     64.653521  221.871139  58.921127
standard         70.823256  205.620887     71.654264  191.285560  70.034109


                     var
lunch
free/reduced  229.824270
standard      186.418089