## 1.6 Группировка и агрегация

In [6]:
import pandas as pd

data = pd.read_csv('StudentsPerformance.csv')
data.info()
rename_map = {'math score': 'math_score', 'reading score': 'reading_score', 'writing score': 'writing_score'}
data.rename(columns = rename_map, inplace=True)
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

groupby - группирует данные

In [11]:
rename_column_map = {'math_score': 'mean_math_score', 'reading_score': 'mean_reading_score', 'writing_score': 'sum_writing_score'}
data.groupby('gender', as_index=False).aggregate({'math_score': 'mean', 'reading_score': 'mean', 'writing_score': 'sum'}).rename(columns=rename_column_map)

   gender  mean_math_score  mean_reading_score  sum_writing_score
0  female        63.633205           72.608108              37538
1    male        68.728216           65.473029              30516