# Практические задания: Pandas

## Шаг 2, задание
Любым удобным для вас способом создайте dataframe c именем my_data, в котором две колонки c именами (type - строки, value - целые числа) и четыре наблюдения в каждой колонке:

    type value
    A    10
    A    14
    B    12
    B    23

In [1]:
import pandas as pd

data = {
  'type': ['A', 'A', 'B', 'B'],
  'value': [10, 14, 12, 23]
}

my_data = pd.DataFrame(data)
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23