# Практические задания: Pandas

## Шаг 2, задание
Любым удобным для вас способом создайте dataframe c именем my_data, в котором две колонки c именами (type - строки, value - целые числа) и четыре наблюдения в каждой колонке:

    type value
    A    10
    A    14
    B    12
    B    23

In [2]:
import pandas as pd

my_stat = pd.read_csv('data/my_stat.csv')

data = {
  'type': ['A', 'A', 'B', 'B'],
  'value': [10, 14, 12, 23]
}

my_data = pd.DataFrame(data)
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

## Шаг 3, задание
Особенно важный навык при работе с данными - это умение быстро и эффективно отбирать нужные вам колонки или строки.

Начнем с простого, в dataframe с именем my_stat сохранено 20 строк и четыре колонки (V1, V2, V3, V4):

В переменную с именем subset_1 сохраните только первые 10 строк и только 1 и 3 колонку.
В переменную с именем subset_2 сохраните все строки кроме 1 и 5 и только 2 и 4 колонку.

Помните, что нумерация индексов строк и колонок начинается с 0.

Обратите внимание, получившиеся subset_1 и subset_2 - тоже должны быть dataframe.

Вы можете скачать набор данных, которые нам также пригодятся в следующих заданиях,  и потренироваться у себя на компьютере. Чтобы считать данные при помощи pandas, используйте функцию read_csv.

Важно [понимать](https://stackoverflow.com/questions/31593201/how-are-iloc-and-loc-different), в чем разница между pandas loc и iloc. Как отобрать все строки [кроме](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html) указанных? Умение искать [ответы](https://stackoverflow.com/questions/28256761/select-pandas-rows-by-excluding-index-number) поможет вам на начальных этапах знакомства с pandas!

In [8]:
subset_1 = my_stat.iloc[:10, [0, 2]]
subset_1

   V1 V3
0   2  B
1  -1  B
2   0  A
3   2  A
4   0  B
5   2  A
6   0  A
7   1  A
8   0  B
9  -1  A

In [14]:
subset_2 = my_stat.drop([0, 4]).iloc[:, [1,3]]
subset_2

       V2   V4
1     7.0  1.0
2    11.0  0.0
3    11.0  2.0
5    11.0  0.0
6     9.0  2.0
..    ...  ...
495   8.0 -1.0
496   8.0  1.0
497  11.0  2.0
498  11.0  2.0
499   8.0  1.0

[498 rows x 2 columns]